/* generics */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
    
}

body {
    font-family: 'Raleway', sans-serif;
    
}

img {
    width: 100%;
}

/* flex-box */

.flex {
display: flex;
}

.column {
 display: flex;
 flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
}

/* postition relative */
.relative {
    position: relative;
}


/* header */

header {
    background-color:#b4d0e7 ;
    font-size: 14px;
}

/* Header-top */
.header-top {
    height: 10vh;
    background-color: white;
    padding: 5px; 
    justify-content: space-between;
    align-items: center;
    

}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.container-head-1 {
    width: 30%;
    justify-content: space-between;

}

.container-head-2 {
    width: 30%;
    justify-content: space-between;
}

.logo {
    width: 120px;
}

.container-head-1 > a  {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.container-head-2 > a  {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.blue-button {
    background-color: #0061ff;
    color: white;
    padding: 5px 12px;
} 

/* header-bottom */

.header-bottom {
    margin: 60px 270px;
    height: 75vh;
    padding-top: 70px;
}

h1 {
    font-size: 64px;
}

p {
    width: 250px;
    margin-top: 30px;
}

.button-large {
    width: 200px;
    margin: 20px 0px;
    
}

.text-head {
    margin-top: 30px;
    font-size: 14px;
}

.header-image {
    width: 500px;
}

.img-header {
    position: absolute;
    width: 640px;
    left: 265px;
    top: 30px;
}

.arrow-down {
    font-size: 40px;
    margin-top: 10px;
}

/* main */


/* section-1 */
.container-section-1, .container-box-2, .container-box-3 {
    margin: 120px 320px;
    justify-content: space-between;
} 


h2 {
    font-size: 33px;
}

.container-input {
    width: 370px;
    justify-content: space-between;
    padding-top: 40px;
}

.container-box-1 {
    margin-top: 50px;
    justify-content: space-between;

}

.head-box {
    border-bottom: 0.5px solid black;
    padding: 10px 0px;

}.box-1 {
    margin: 20px;
}

.top-price {
    padding: 20px 0px;
}

.bottom-price {
    margin-top: 10px;
    font-size: 11px;
    color: gray;
}

.box-icon {
    padding: 15px 0px;
    font-size: 11px;
    line-height: 30px;
}

.button-box {
    padding-bottom: 30px;
    font-size: 11px;
    line-height: 40px;
}

.title-foot-box-1 {
    margin-top: 30px;
}

.box-1 > span {
    font-size: 11px;
    padding: 20px 0px;
}


.button-section-1 {
    margin: 15px 0px;
}

.container-box-1 > div {
    width: 250px;
    height: 800px;
    background-color: yellow;
    border: 0.5px solid black;

}

.box-4 {
    margin-top: 50px;
    height: 200px;
    background-color: yellow;
}

/* section-2 */

.partner {
    width: 500px;
}

.container-box-2 > p {
    margin: 50px;
}


/* section-3 */
.container-box-3 > h2 {
    margin: 60px 0px;
    
}

.container-section-3-top > div {
    width: 250px; 
}

.container-section-3-bottom > div {
    width: 250px; 
}

.container-section-3-top {
    justify-content: space-between;
}


 .container-section-3-bottom {
    justify-content: space-between;
    margin: 60px 0px;
}
 
/* section-4 */
.title-section-4 {
    margin: 120px 320px;  
}

.title-section-4 > h2 {
    margin: 100px 0px;
    width: 480px;
}


.square-color > div {
    width: calc(100% / 3);
    flex-wrap: wrap;

}

.square-bottom-box {
    justify-content: space-between;
    margin: 0px 320px;
    padding: 60px 0px;
}

.square-bottom-box > h2 {
    width: 400px;
    color: #691938;
}

.square-1 > div {
    flex-wrap: wrap;
    height: 200px;
    width: calc(100% / 2);
}

.square-2 p {
    
    width: auto;

}

.square-3 > div {
    flex-wrap: wrap;
    height: 200px;
    width: calc(100% / 2);
    
}

.square-2 {
    background-color: #f5f5f5;
    
}

.designit {
    background-color:#a2d39b
}

#designit {
    width: 50%;
    filter: invert(1);
    
}

.arizona {
    background-color: #61082b;
}

#arizona {
    
    filter: invert(1);
    width: 50%;
}

.university {
    background-color:#0093ce;
    align-items: center;

}

#university {
    width: 50%;
    filter: invert(1);
    height: 25%;
}

.topps {
    background-color:#ff1c1c;
}

#topps {
    width: 50%;
    filter: invert(1);
}

#designit-logo {
    width: 35%;
    margin: 20px;

}

.designit-logo > hr {
    width: 100px;
    border: 0.1px solid grey;
    margin-left: 20px;
}

.designit-logo > p {
    margin: 20px;
}

.bicycle {
    background-color: #d5001f;
}

#bicycle {
    width: 50%;
    filter: invert(1);
}

.hearst {
    background-color:#b3cfe6;
}

#hearst {
    width: 50%;
    filter: invert(1);
}

.lonely {
    background-color: #0d2481;
}

#lonely {
    width: 50%;
    filter: invert(1);
}

.clear {
    background-color: #fad42f;
}

#clear {
    width: 50%;
    filter: invert(1);
}

.square-2-background {
    background-color: #b4d0e7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

/* section-5 */
.container-section-5 {
    margin: 120px 320px;
}

.request > p {
    width: 100%;
    margin: 0;
    
}

.request {
    align-items: center;
    display: flex;
    border-bottom: 0.5px solid black;
    height: 100px;
}

/* footer */
footer {
    background-color: black;
}

.container-footer {
    height: 400px;
    padding: 80px 0px;
    justify-content: space-between;
    margin: 0px 270px;
    
    
}

.container-footer > div {
   color: white;
}

.container-bottom > a {
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    font-size: 12px;
}

.container-bottom > h3 {
    padding-bottom: 20px;
}